@font-face {
    font-family: 'Vazir';
    src: url('Vazir.woff2') format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Vazir';
    src: url('VazirBold.woff2') format("woff2");
    font-weight: bold;
    font-style: normal;
}
body#tinymce.wp-editor {
    font-family: Vazir, tahoma, arial !important;
}