body.rtl {
  font-family: Vazir, sans-serif, tahoma, arial;
}

.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6 {
  font-family: Vazir, sans-serif, tahoma, arial;
}

.rtl select {
  font-family: Vazir, tahoma, sans-serif, arial;
}

.rtl #wpadminbar * {
  font-family: Vazir, tahoma, sans-serif, arial;
}

#wpadminbar #wp-admin-bar-wpsh .ab-icon:before {
  content: '\f508';
  top: 2px;
}

.rtl .DayPicker_weekHeader {
  display: none;
}

.rtl .components-datetime__date .DayPickerNavigation_leftButton__horizontalDefault {
  right: auto !important;
}

#farsi-shortcuts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 20px;
  min-height: 50px;
  margin-right: -15px;
}

#farsi-shortcuts li {
  float: right;
  min-width: 20%;
  text-align: center;
  color: #486581;
}

#farsi-shortcuts li a {
  color: #486581;
}

#farsi-shortcuts li a:hover {
  color: #0073aa;
}

#farsi-shortcuts span {
  font-family: dashicons;
  font-size: 3em;
  display: inline;
  text-align: center;
}

.rtl #section-holder .section {
  text-align: right;
  direction: rtl;
}

.rtl #section-holder .review-title-section {
  float: right;
  margin: 4px 0 0 6px;
}

.rtl #section-holder .avatar {
  float: right;
  margin: 4px 0 0 6px;
}

.rtl #ui-datepicker-div {
  font-family: Vazir, tahoma, sans-serif, arial;
}

.rtl #ui-datepicker-div button {
  font-family: Vazir, tahoma, sans-serif, arial;
}