#wpadminbar #wp-admin-bar-wpsh .ab-icon:before {
  content: '\f508';
  top: 2px;
}

.rtl .DayPicker_weekHeader {
  display: none;
}

.rtl .components-datetime__date .DayPickerNavigation_leftButton__horizontalDefault {
  right: auto !important;
}

#farsi-shortcuts ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-top: 20px;
  min-height: 50px;
  margin-right: -15px;
}

#farsi-shortcuts li {
  float: right;
  min-width: 20%;
  text-align: center;
  color: #486581;
}

#farsi-shortcuts li a {
  color: #486581;
}

#farsi-shortcuts li a:hover {
  color: #0073aa;
}

#farsi-shortcuts span {
  font-family: dashicons;
  font-size: 3em;
  display: inline;
  text-align: center;
}

.rtl #section-holder .section {
  text-align: right;
  direction: rtl;
}

.rtl #section-holder .review-title-section {
  float: right;
  margin: 4px 0 0 6px;
}

.rtl #section-holder .avatar {
  float: right;
  margin: 4px 0 0 6px;
}

.wpsh_newsletter, .wpsh_stats {
  padding: 10px 10px 30px 0;
}

.wpsh_newsletter p, .wpsh_stats p {
  padding-bottom: 15px;
}

.wpsh_newsletter_settings {
  padding-top: 15px;
}

.wpsh_newsletter_settings #wpsh_form_settings {
  background: #007cba;
  border-radius: 2px;
}

.wpsh_newsletter_settings #wpsh_form_settings:hover {
  background: #0071a1;
}

.wpsh_newsletter_settings strong {
  color: #347528;
}

.wpsh_newsletter_settings p {
  margin-bottom: 0;
}

.wpsh_newsletter_settings #wpsh_email_settings {
  max-width: 200px;
}

.rtl .notice .button {
  margin: 2px 0 10px 0;
}

#wpsh_email_validation, #wpsh_email_validation_settings {
  color: #c50000;
  font-weight: bold;
  display: none;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-12-2 13:46:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes wpsh_heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.exopite-sof-field-content .dashicons-heart::before {
  -webkit-animation: wpsh_heartbeat 1.5s ease-in-out infinite both;
  animation: wpsh_heartbeat 1.5s ease-in-out infinite both;
  font-size: 100px !important;
  display: block;
  float: right;
  width: 100% !important;
  margin: 40px 0;
}